<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="/assets/css/styles.css">
    $CSS_LINKS$

    <title>$TAB_TITLE$</title>

</head>

<body class="min-h-screen w-screen flex flex-col">

    <nav class="w-screen flex items-center justify-center m-4 border-b-2 border-gray-400 p-4">
        <a href="/home" class="nav-link">Home</a>
        <a href="/types" class="nav-link">Types</a>
        <a href="/functions" class="nav-link">function</a>
        <a href="/about" class="nav-link">About</a>
    </nav>
    <main class="w-screen flex-1 text-center">        