<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="/assets/css/styles.css">
    $CSS_LINKS$

    <title>$TAB_TITLE$</title>

</head>

<body class="min-h-screen w-screen flex flex-col">

    <nav class="w-screen flex items-center justify-center">
        <a href="/home" class="nav-link">Home</a>
        <a href="/matches" class="nav-link">Matches</a>
        <a href="/contact" class="nav-link">Contact</a>
    </nav>
    <main class="w-screen flex-1 text-center">        